/* Chung */
:root {
    --background-color: rgb(4, 214, 88);
    --animation-color: rgba(0, 206, 120, 75%);
}

header {
    width: 100%;
    height: 70px;
    background: var(--background-color);
    cursor: default;
}

h1 {
    text-align: left;
    color: white;
    text-transform: uppercase;
    margin: 0;
    line-height: 70px;
    padding-left: 30px;
}

h2 {
    text-align: center;
}

body {
    background: #eee;
    margin: 0;
    padding: 0;
    font-family: "Open sans", "Segeo UI", Arial, Helvetica, sans-serif;
}

footer {
    margin: 10px;
    border-radius: 15px;
    background: white;
    height: 40px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

footer p {
    text-align: center;
    line-height: 40px;
    color: gray;
    cursor: default;
}

/* Menu */

ul {
    list-style: none;
    padding: 10px;
}

ul li {
    padding: 5px;
}

li a {
    background: #ffffff;
    color: rgb(93, 93, 93);
    text-align: center;
    display: block;
    padding: 15px 0;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.45s;
    text-transform: uppercase;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

li a:hover,
li a:focus {
    background: var(--animation-color);
    color: #ffffff;
}

/* End menu */

/* detail */

.read-more {
    float: right;
    text-decoration: none;
    transition: all 0.3s;
}

.read-more:hover {
    color: var(--animation-color);
}

/* Nội dung */ 

article {
    padding-bottom: 10px;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr) repeat(6, 1fr) repeat(3, 1fr);
    gap: 10px;
}

.col-3 {
    grid-column: span 3;
}

.col-6 {
    grid-column: span 6;
    padding: 5px;
}

.col-3 {
    grid-column: span 3;
}

img {
    padding-top: 20px;
    width: 100%;
}


@media (max-width: 768px) {
    .row {
        display: flex;
        flex-direction: column;
    }

    img {
        width: 100%;
    }
}

@media print {
    header, footer {
        color: black;
    }

    body {
        background: #ffffff;
    }

    li a {
        box-shadow: none;
    }
}